*{
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	/* background-color: #080808; */
	box-sizing: border-box;
}
body{
	width: 100%;
	height: auto;
	background-color: rgb(0, 0, 0);
	color: white;
}

header{
	/* background-color: #0099ad; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 8%;
	padding-right: 8%;
	
}

.logo {
	color: #fff;
	letter-spacing: 2px;
	font-size: 35px;
	cursor: pointer;
	margin-bottom: 40px;
}

span {
	color: #f9004d;
}

header ul{
	width: 100%;
	height: 8vh;
	padding-left: 7%;
}

header li{
	display: inline;

}

header a{
	text-decoration: none;
	font-size: 18;
	color: #fff;	
	margin-left: 25px;
}

.btn{
    background-color: transparent;
	color: #fff;
	border: 2px solid #ff004f;
	padding: 2px 6px;
	border-radius: 10px;
	letter-spacing: 2px;
	margin-bottom: 38px; 
}

.btn:hover {
	background: #ff004f;
	cursor: pointer;
	border: 2px solid transparent;
}

.img{
	background-color: rgb(0, 0, 0);
	height: 35rem;
	width: 50%;
	float: left;
	
}

#header{
	background-color: rgb(0, 0, 0);
	height: 35rem;
	width: 50%;
	float: right;
	background-image: url(img/background.png); 
	background-size: 120vh 100vh;
	background-position: center;
	background-repeat: no-repeat;
}

#intro{
	padding-top: 12%;
	padding-left: 8%;
	color: #fff;
}

#intro p{
	/* font-family: "Josefin Sans", sans-serif ; */
	color: white;
	letter-spacing: 2px;
}

#intro h1{
	/* font-family: "Josefin Sans", sans-serif ; */
	font-size: 40px;
	letter-spacing: 1px;
	margin-top: 15px;
}

#intro h3{
	/* font-family: "Josefin Sans", sans-serif ; */
	letter-spacing: 1px;
	margin-top: 15px;
}

.reach-out{
    border: 1px solid #f9004d;
	background-color: transparent;
	color: turquoise;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bolder;
}

.reach-out:hover{
	background-color: transparent;
	border: 2px solid turquoise;
	cursor: pointer;
	color: #f9004d;
}

/* About section start here */

#about {
	padding: 80px 0;
	color: #ababab;
}

.container{
	padding: 10px 10%;
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-right {
	flex-basis: 35%;
}

.about-right img {
	height: auto;
	width: 100%;
	transition: transform 0.5s;	
	border-radius: 15px;
	background: #191919;
}

/* .about-right:hover img{
	transform: scale(1.1);
} */

.about-txt {
	
	flex-basis: 60%;
	/* animation-name: text;
	animation-duration: 5s; */
}


.sub-titles{
	font-size: 60px;
	font-weight: 600;
	color: white;
}

.about-txt h5 {
	color: white; 
	height: 30px;
	letter-spacing: 2px;
	font-size: 18px;
	text-transform: capitalize;
}

.about-txt p {
	color: whiteS;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
}

button {
	background-color: transparent;
	/* color: white; */
	text-decoration: none;
	border: 2px solid #f9004d;
	font-weight: bold;
	padding: 10px 12px;
	border-radius: 10px;
	margin-top: 8px;
}

button a {
	color: white;
}

button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.table-titles {
	display: flex;
	margin: 20px 0 5px;
}

.table-titles p{
	color: #fff;
}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}


.tab-links.active-link::after{
	width: 50%;
}
.tab-contents {
	display: none;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
}

.tab-contents ul li span {
	color: #f9004d;
	font-size: 14px;
}

.tab-contents.active-tab{
	display: block;
}

/* #reading .copyright{
	background: #900048;
	margin-top: 40px;
} */

.books {
	height: auto;
	align-items: center;
}

.books h3 {
	padding-top: 10px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 27px;
}

.books img{
	margin-top: 40px;
	width: 150px;
	height: 200px;
	margin-left: 80px;
	animation-name: image;
	animation-duration: 5s;
}

/* .hobbies{
	background-color: #191919;
	height: 350px;
	margin: 0 auto;
	width: 100%;
	padding: 40px 0;
}

.hobbies h1{
	padding-top: 70px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.hobbies img{
	margin-top: 40px;
	width: 150px;
	height: 150px;
	margin-left: 130px;
} */

#services{
	/* background: #101010; */
	/* width: 100%; */
	padding: 30px 0px;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.services-list div {
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2 {
	font-size: 27px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.services-list div:hover {
	background: #ff004f;
	transform: translateY(-10px);
}

.copyright {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;

}

.copyright .contact-me{
	display: inline-block;
	align-items: center;
	justify-content: center;
}
.contact-me h1{
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 25px;
}

.contact-me p{
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 6px 15px;
	border-radius: 10px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}



/* .......Skills Section starts here............ */

#skillset .copyright {
	margin-top: 60px;
}

.skills{
	width: 100%;
}

.skills h1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
}

.skills-left {
	flex-basis: 50%;
}

.skills-right {
	flex-basis: 50%;
}

.my-skills{
	width: 30%;
	height: 300px;
	float: left;
	margin-left: 40px;
	margin-top: 30px;
	padding-right: 30px;
}

#img-icon img{
  width: 100%;
  height: 100%;
}

.all-skills{
	background-color: FEFAF6;
	margin-top: 23px;
	width:100%;
	height: 120px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px #900048;
}

.all-skills h1{
	font-size: 30px;
	color: #900048;
}

.all-skills p{
	text-align: center;
	font-size: 25px;

}

/*........................portfolio section starts here.....................*/

/* #portfolio {
	padding: 30px 0;
} */


#portfolio h1 {
	text-align: center;
	text-transform: uppercase;
	/* padding-top: 30px; */
}


.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.work {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	align-items: center;
}

.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s; 
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: rgb(153, 224, 217);
	width: 60px;
	height: 60px;
	border-radius: 50px;
	text-align: center;


}

.work:hover img {
	transform: scale(1.1);
}

.work:hover .layer{
	height: 100%;
}

.btn-1{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #ff004f;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	transition: background 0.5s;
}

.btn-1:hover {
	background: #ff004f;
}

/*...................contact section start here..................*/

.contacts-left {
	flex-basis: 35%;
}

.contacts-right {
	flex-basis: 60%;
}

.contacts-left p {
	margin-top: 40px;
}

.contacts-left p i {
	color: #ff004f;
	margin-right: 15px;
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;
}

.social-icons a i {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color:#ababab;
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a i:hover {
	color: #ff004f;
	transform: translateY(-5px);
}

.btn-1.btn-2 {
	display: inline-block;
	background: #ff004f;
}

.btn-1.btn-2:hover {
	background: transparent;
	border: 1px solid turquoise;
}

.contacts-right form {
	width: 100%;
}

form input, form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 20px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

/* #froala {
	margin-top:80px;
} */

form .btn-3 {
	display: inline-block;
	background: #ff004f;
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
}

form .btn-3:hover{
	background: transparent;
	border: 1px solid turquoise;
}


/*...............Login.................*/

.login-col {
	flex-basis: 60%;
}

.login-col .login-col-1 {
	padding: 30px 0;
}

.login-col-1 p a{
	text-decoration: underline;
	color: #fcfc;
}


/*..............Signup.................*/


.signup-col {
	flex-basis: 60%;
}

.signup-col .singup-col-1 {
	padding: 30px 0;
}

.singup-col-1 p {
	text-decoration: none;
	color: #fff;
	margin-bottom: 60px;
}

.singup-col p a{
	text-decoration: underline;
	color: #fcfc;
	justify-content: space-between;
}

/* .signup-col-2 {
	display: inline;
} */

.signup-col-3 .error{
	color: #ff3860;
	margin-top: 10px;
}

.signup-col-4 .error {
	color:#ff3860;
	margin-top: 10px;

}

.signup-col-2.success input {
	border-color: #09c372;
}

.signup-col-2.error input {
    border-color: #ff3860;
}

.signup-col-2 .error {
    color: #ff3860;
    font-size: 14px;
    /* height: 13px; */
	margin-bottom: 10px;
}

/* #body{
	margin: 0;
	padding: 0;
	font-family: poppins;
	background: white;
} */

a{
text-decoration: none;
}

 ul {
	list-style: none;
}

#blog{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	border-bottom: 1px solid rgb(0,0,0,0.05);
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.heading span {
	color: #ff004f;
}

.heading h1 {
	font-size: 2.4rem;
	color: white;
	font-weight: 600;
}

.blog-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	flex-wrap: wrap;
}

.blog-box {
	width: 350px;
	background: white;
	border: 1px solid turquoise;
	margin: 20px;
}

.blog-img {
	width: 100%;
	height: auto;
}

.blog-img img {
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center;
}

.blog-text {
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.blog-text span {
	color: #ff004f;
	font-size: 0.9rem;
}

.blog-text .blog-title {
	font-size: 1.3rem;
	font-weight: 500;
	color: black;
	/* text-align: center; */
}

.blog-text .blog-title:hover {
	color: #ff004f;
	transition: all ease 0.3s;
}

.blog-text p{
	color: black;
	font-size: 0.9rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0px;
}

.blog-text a {
	color: #f9004d;
	margin-top: 10px;
}

.blog-text a i {
	text-decoration: none;
	font-size: 20px;
	margin-right: 15px;
	color:#ababab;
	display: inline-block;
	transition: transform 0.5s;
	margin-top: -10px;
	/* background: red; */
}
/* .blog-text a i.fa-solid.fa-comments{
	color: blue;
	margin-left: 40px;
	margin-top: -70px;
}  */

.blog-text a:hover {
	color: turquoise;
	transition: all ease 0.3s;
}

.blog-summ-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	flex-wrap: wrap;
}

.blog-summ-box {
	width: 1050px;
	background: white;
	border: 2px solid turquoise;
	margin: 20px;
}

.blog-summ-img {
	width: 100%;
	height: auto;
}

.blog-summ-img img {
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center;
}

.blog-summ-text {
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.blog-summ-text span {
	color: #ff004f;
	font-size: 0.9rem;
}

.blog-summ-text .blog-title {
	font-size: 1.3rem;
	font-weight: 500;
	color: black;
	/* text-align: center; */
}

.blog-summ-text .blog-title:hover {
	color: #ff004f;
	transition: all ease 0.3s;
}

.blog-summ-text p{
	color: black;
	font-size: 0.9rem;
	display: flex;
	line-height: 20px;
	text-transform: capitalize;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0px;
}

.blog-summ-text a {
	color: #f9004d;
	/* margin-left: 5px; */
}

.blog-summ-text a:hover {
	color: turquoise;
	transition: all ease 0.3s;
}

.blog-summ-text a i {
	color: #ababab;
}

.comment {
	flex-basis: 60%;
}

.comment input{
	width: 100%;
	/* margin-left: 20%; */
}

.comment textarea {
	width: 100%;
	/* margin-left: 20%; */
}

.comment button{
	/* margin-left: 35%; */
}

.comments {
	/* background: #262626; */
	margin-left: -470px;

}

.comments .comment-title h1 {
	margin-top: 10px;
	/* color: white; */
}

.comments .description {
	/* flex-basis: 40%; */
	/* background: red; */
	margin-top: 30px;
	/* font-size: 22px;
	font-family: 'Poppins', sans-serif; */
}

.comments .description a {
	color: #ff004f;
	/* margin-top: 40px; */
}

.comments form {
	margin-top: 30px;
	flex-basis: 60%;
	width: 600px;
}





/*...............css for small screans..................*/
header .fa-solid {
	display: none;
}

#about-resp {
	display: none;
}

@media only screen and (max-width: 600px){
	#header{
		background-image: url(img/background.png);
		background-size: 100vh 90%;
	}

	#intro {
		font-size: 22px;
		/* background: #191919; */
		height: 100%;
		margin-top: 110px; 
	}

	#intro p {
		font-size: 11px;
		display: inline-block;
	}
	
	#intro h1{
		font-size: 22px;
		display: inline-block;
	}

	#intro h3{
		font-size: 16px;
		display: inline-block;
	}

	.reach-out{
		margin-top: 40px;
	}

	header .fa-solid{
		display: inline-block;
		font-size: 25px;
	}

	header ul {
		background: #ff004f;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}

	header ul li {
		display: block;
		margin: 25px;
	}

	header ul .fa-solid{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.logo {
		margin-top: 40px;
	}

	.btn{
	margin-top: 40px;
	font-size: 18px;
	border: 1px solid turquoise;
	letter-spacing: 1px;
	border-radius: 4px;
	}

	.sub-titles {
		font-size: 40px;
		/* text-align: center; */
		margin-bottom: 10px;
	}

	#about-desk{
		display: none;

	}

	.about-right, .about-txt {
		flex-basis: 100%;
		
	}

	.about-right, #about-resp{
		display: flex;
		width: 100%;
		border-radius: 15px;
		background: #191919;
		padding-top: 20px;
	}

	.about-right{
		margin-bottom: 40px;
	}

	.about-txt {
		font-size: 14px;
	}

	.tab-links{
		font-size: 16px;
		margin-right: 20px;
	}

	.about-txt, .about-right {
		flex-basis: 100%;
	} 

	/* #reading .copyright {
		margin-top: 60px;
	} */

	.login-col{
		width: 100%;
	}

	.contacts-left, .contacts-right{
		flex-basis: 100%;
	}

	#login .copyright{
		margin-top: 20px;
	}

	.signup-col-1 p{
		font-size: 14px;
		margin-bottom: 30px;
	}

	.comments {
		width: 100%;
		margin-left: 20px;
		/* font-size: 14px; */
	}


@media (max-width:1100px) {
	.blog-box {
		width: 70%;
	}

	.blog-summ-box {
		width: 50%;
	}

	.comment input{
		width: 120%;
		margin-left: 0;
		align-items: center;
	}
	
	.comment textarea{
		width: 120%;
		margin-left: 0;
	}

	.comment button{
		margin-left: 25%;
	}

	/* .comments .description {
		background: red;
	} */

	
}

@media (max-width: 550px) {
	.blog-box {
		margin: 20px 10px;
		width: 100%;
	}
	#blog {
		padding: 20px;
	}

	.blog-summ-box {
		width: 100%;

	}
	.comments form {
		width: 110%;
		margin-left: -20px;
	}

	.comment {
		flex-basis: 90%;
	}
	
	.comment input{
		width: 100%;
		margin-left: 0;
		align-items: center;
	}
	
	.comment textarea{
		width: 100%;
		margin-left: 0;
	}

	.comment button{
		margin-left: 25%;
	}
}

	/* #signup, .copyright{
		margin-top: 20px;
	} */


	/* .contact-me {
		display: block;
		align-items: center;
		justify-content: center;
		flex-direction: column;		
	}
	.contact-me p {
		text-align: center;
		font-size: 1px;
		margin-left: 60px;
		display: inline-block;
		/* margin-bottom: 100px; */


	/* .contact-me .button-two{
		display: inline-block;
		align-items: center;
		margin-left: 120px;
		padding: 7px 15px;
		border-radius: 10px;
		margin-bottom: 20px; 
	} */

}



@keyframes image {
	from {
		margin-left: 10px;
	}
	to {
		margin-right: 0px;
	}
}	


